
#Archivo preparado para información sensible presente y futura

# Ignorar información sensible sobre las API (API-related sensitive information)
# .gitignore
.env 

dataSensible.js

api-keys.json       
credentials/ 


# Ignorar el directorio 'secrets' 
secrets/

# Ignorar archivos específicos
merriam_webster_api_key.txt