.ubicacion__page {
    /*background-color: #1ed12d;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 10px;
    align-items: center;
}

.iframe-form {
    height: 300px;
    width: 500px;
    margin: 20px;
}

.ubicacion__page h2 {
    text-align: center;
    margin: 10px;
}

.formulario__principal h2 {
    text-align: center;
    margin: 10px;
}

.formulario__principal {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    display: grid;
    border-radius: 5px;
    background-color: var(--primary-color);
    margin: auto;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {
    /*block: ocupa el 100%*/
    display: block;
    font-weight: 700; /*Coloca letras en negrita*/
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input { /*cambia los espacios a rellenar*/
    width: 100%;
    background: #fff; /*relleno del imput*/
    border: 3px solid transparent;
    border-radius: 3px;
    /*height y line-heigth es para que el texto quede centrado*/
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px; /*arriba derecha abajo izquierda*/
    transition: .3s ease all; /*AVERIGUAR QUE ES??*/
}

/*transicion para el click*/
.formulario__input:focus {
    border: 3px solid orangered;
    outline: none; /*quita un sobreborde del navegador*/
    box-shadow: 3px 0px 30px brown; /*sombreado que indica donde estoy posicionada*/   
}

/*ACCESO AL ERROR (mensajes de aviso)*/
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none; /*aparece el msj oculto*/
}

/*CONFIGURACION PARA QUE APAREZCA EL MSJ DE ERROR*/
.formulario__input-error-activo {
 display: block;   
}

/*ICONO X configuracion*/
.formulario__validacion-estado {
    position: absolute;
    right: 10px; /*coloca al icono dentro del input de der a izq*/
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0; /*opacity para que no se muestre*/
}

/*Accede a las dos ultimas celdas y las separa*/
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background-color: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none; /*msj oculto para que aparezca en ciertos casos*/
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p { /*centra el msj ERROR quitando los bordes*/
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BOTON ENVIAR*/
.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: orangered;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px brown ;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/*Estilos para Validacion*/
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}
/*mediaqueries*/

@media (max-width: 800px) {
        .formulario { 
            grid-template-columns: 1fr;
        }
        .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}
