.contenedor-mapa {
  max-width: 600px;
  width: 100%;
  /*padding-top: 20px; /*conserva la relación 16:9*/
  position: relative;
  margin: 0 auto; /*centrado horizontal*/
  border: 20px solid transparent;
  align-items: center;
}

.iframe-form {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
}

.contenedor-mapa h2,
.formulario__principal h2,
.contenedor-mapa p {
  text-align: center;
  margin: 10px;
  padding-top: 20px; /*separación desde header hasta h2*/
}

.contenedor-mapa p {
  /*igual que el caption de skills.css*/
  color: orangered; 
  font-size: 15px;
  padding-top: 10px;
}

.formulario__principal {
  /*Contacto 24 x 7*/
  max-width: 450px;
  width: 100%;
  padding: 30px;
  padding-top: 10px; /*sobreescribe la propiedad anterior: sólo "top"*/
  display: grid;
  border-radius: 5px;
  background-color: rgb(240, 240, 201); /*Background formulario*/
  text-align: center;
  margin: auto; /*15 arriba, 5 abajo, 0 el resto. Antes: auto;*/
  margin-bottom: 20px; /*separación con el footer. 29.11: antes 5% (menos estable)*/
}

.formulario__principal p {
  /*¡Te responderé el mismo día!*/
  color: orangered; 
  font-size: 15px;
  padding-bottom: 10px; /*para separar desde este punto de ref. hacia abajo*/
}

.formulario {
  display: grid;
  grid-template-columns: 1fr; /*campos 100% de ancho*/
  gap: 20px;
}

.formulario__label {
  display: block; /*block: ocupa el 100%*/
  font-weight: 700; /*coloca letras en negrita*/
  padding: 10px;
  cursor: pointer;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  /*cambia los espacios a rellenar*/
  width: 100%;
  background: #fff; /*relleno del input*/
  border: 3px solid transparent;
  border-radius: 3px;
  /*height y line-height para que el texto quede centrado*/
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px; /*arriba derecha abajo izquierda*/
  transition: 0.3s ease all; 
}

/*Transición cuando se hace click sobre campos a rellenar*/
.formulario__input:focus {
  border: 2px solid rgb(8, 255, 8); 
  outline: none; /*quita el sobreborde del navegador*/
  cursor: pointer; 
}

/*Mensaje de aviso de error*/
.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none; /*aparece el mensaje oculto*/
}

/*Configuración para ver el mensaje de error*/
.formulario__input-error-activo {
  display: block;
}

/*Icono X configuración*/
.formulario__validacion-estado {
  position: absolute;
  right: 10px; /*coloca el ícono dentro del input de derecha a izquierda*/
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0; /*opacity para que no se muestre*/
}

/*Texto en el mensaje que escribirá el usuario:*/
#mensaje { 
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.formulario__mensaje {
  display: none; /*oculto por defecto
  height: 45px;
  line-height: 45px;
  background-color: rgb(240, 240, 201); 
  padding: 0 15px;
  border-radius: 3px;*/
}

/*Mensaje de error para cuando está activo*/
.formulario__mensaje-activo {
  display: block;
}

.formulario__enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Botón "Send"*/
.formulario__btn {
  height: 45px;
  line-height: 45px;
  max-width: 200px; /*10.12.23*/
  margin-top: 35px;
  background-color: white; 
  color: orangered; 
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario__btn:hover {
  background-color: brown;
  color: yellow;
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: orangered; 
  font-weight: bold;
  font-family: 'Roboto', sans serif;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/*Validación de datos*/
.formulario__grupo-correcto .formulario__validacion-estado {
  color: rgb(8, 255, 8); /*verde flúor*/
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid transparent; /*sin borde para los campos con error*/
}

/*Responsive - media querries*/
/*Escritorio:*/
@media (min-width: 769px) {
  .formulario {
    grid-template-columns: 1fr; /*1 columna*/
  }

  #mensaje {
    grid-column: span 1; /*ancho de una columna*/
    width: 100%;
  }

  .formulario__mensaje,
  .formulario__enviar {
    grid-column: span 1; /*reseteo del grid*/
  }

  .formulario__btn {
    width: 50%; /*ancho para el botón*/
    margin-top: 20px; /*ajuste de margen*/
  }
}

/*MOBILE y/o otros "small devices" (tamaño "inclusivo" más difundido)*/
@media (max-width: 768px) {
  .formulario {
    grid-template-columns: 1fr; /*una columna*/
  }

  .formulario__mensaje,
  .formulario__enviar {
    grid-column: 1;
  }
  .formulario__btn {
    width: 60%;
    margin-top: 20px; /*ajuste de margen*/
  }
}
