/* NavBar*/
nav {
    position: sticky;           
    top: 0px;
    left: 0px;
    display: flex;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center; /* antes, space-between*/
    padding: 20px 40px;
}

nav h1 {
    color: brown; /* antes, var(--primary-color);*/
}

nav ul {
    display: flex;
    flex-direction: row;    
    gap: 40px;
}  

nav ul a {
    color: var(--primary-color);
} 

.texto-ícono{ /*NEW*/
    color: orangered; /*DARKBLUE: rgb(0, 0, 139)*/
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sticky /*position: fixed -> recomendado por w3schools para fixed nav y sticky nav*/ 
{
  position: fixed;
  top: 0;
  width: 100%;
} 