/* NavBar*/
.navbar {
  /*sólo la barra per se*/
  /*top: 0px;*/
  /*left: 0px;*/
  display: flex; /*así el contenedor va mejor*/
  background-color: var(
    --bg-color
  ); /*New 05.11.23: transparent. Antes: var(--bg-color) --> cremita;*/
  align-items: center;
  justify-content: center; /*Antes 05.11.23: space-between --> no me gusta;*/
  padding: 10px 20px; /*antes 02.11.23: 20px 40px;*/
  width: 100%;
  max-width: 1200px; /*igual que el footer*/
  position: sticky; /*es lo mismo que top: 0px; -que estaba antes-*/
  top: 0;
  z-index: 1000; /*así la barra se ve "arriba" de lo demás al bajar*/
  /*transition: background-color 0.3s ease;*/
}

.logo-membrete {
  /*logo*/
  width: 6%;
  height: auto;
  margin-right: 5%; /*New 05.11.23: así separo el logo del Home*/
}

.navbar-menu ul {
  /*menú en la barra en general*/
  display: flex;
  /*New 05.11.23: no parece hacer falta: flex-direction: row;*/
  gap: 35px;
  /*transition: background-color 0.3s ease; /*No va acá*/
}

.navbar-menu ul li a {
  /*para los links del menú*/
  color: var(--primary-color);
  font-weight: bold; /*new 03.11.23*/
  text-decoration: none; /*New 05.11.23*/
  /*transition: color 0.3s ease; /*New 05.11.23: para unificar con los otros hover. No me gusta.*/
}
/*El hover para los links en la barra: no lo voy a usar porque cambia mis íconos animados -y me gustan:
.navbar-menu ul li a:hover {   /*New 05.11.23: para que cambie a este color cuando se lo hoverea
    color: blue;
}*/

.texto-ícono {
  /*NEW*/
  color: orangered; /*DARKBLUE: rgb(0, 0, 139)*/
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.sticky {
  /*position: fixed -> recomendado por w3schools para fixed nav y sticky nav*/
  position: sticky; /*Antes 05.11.23: fixed;*/
  top: 0;
  width: 100%;
  background-color: var(--bg); /*Cuando se haga "sticky", sigue el color*/
}

/*New 05.11.23: responsive design --> Teóricamente responsives con pantalla rotada también*/

/*PC ESCRITORIO: ya estaría "user-friendly" con los parámetros de arriba, but...*/
@media screen and (min-width: 769px) {
  /*Le confirmo el breakpoint*/
}

/*CELULAR*/ /*Emulados del projects.css, pero sólo marco el breakpoint*/
@media screen and (max-width: 480px) {
}

/*TABLET*/ /*Again, sólo breakpoint*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-menu ul {
    gap: 28px;
  }   
}
/*Nota: el 09.11.23 aprendí sobre MOBILE FIRST (golden rule developer). 
Los parámetros arriba descriptos son anteriores.*/
