
/*.i{
    color:brown; /*PRIMARY BROWN: rgb(165,42,42); ORANGE: rgb(255, 165, 0); "CLASSIC" BROWN:rgb(150, 75, 0)*/
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

/*.texto-ícono{
    color: orangered; /*DARKBLUE: rgb(0, 0, 139)
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

.biografia{
    color: darkblue; /*NEW: darkblue: rgb(0, 0, 139)*/
    width: 450px;
}

.principal{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: auto;
}

footer{
    color: orangered; /*DARKBLUE: rgb(0, 0, 139)*/ 
    text-align: center;
}

imagen{
    height: 200px;
    width: 300px;
}

.skill{
    text-align: center;
    margin: auto;
}

.skill-header{
    margin: 10px 10px 30px 10px;
} 

.skill-img{
    width: 200px;
    height: 300px;
    background-color: #ffff;
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}
.formulario_principal{
    color: darkblue; /*DARKBLUE: rgb(0, 0, 139)*/ 
} 
