html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.contenido-video {
  /*Mejora: La megacaja de contenido p/armonizar el todo*/
  text-align: center;
  font: darkblue;
  padding: 20px;
}

h2 {
  text-align: center;
  font: darkblue;
  font-size: 24px; 
  margin-bottom: 10px; 
  padding-top: 20px; /*separación desde header hasta h2*/
}

.video-container-padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /*Antes: space-around p/ mantenerlo en una sola línea*/
  margin-top: 20px;
  margin-bottom: 20px; 
}
/*New 04.11.23*/
.video-contenedor {
  flex: 1 1 calc(25% - 20px); /*p/ que quepan en una sola línea. Antes: width: calc(50% - 20px)-->2 x línea;*/
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box; /*W3S: border y padding están incluidos en width y height. No incluye margin.*/
  /*position: relative; --> no va bien para tener los 4 contenedores en la misma línea*/
  /*border: 1px solid #ccc; /*para que se aprecie mejor*/
  background-color: transparent; /*para que se aprecie mejor*/
  /*max-width: 320px; /*para evitar que los contenedores superpongan... pero no funciona*/
}

.video-responsive-hijo-1,
.video-responsive-hijo-2,
.video-responsive-hijo-3,
.video-responsive-hijo-4 {
  position: relative; /*Antes:absolute;*/
  width: 100%; /*para que sea responsive*/
  height: 0;
  padding-bottom: 56.25%; /*para mantener el aspecto 16:9*/
}

h3 {
  text-align: center;
  font: darkblue;
  margin-top: 10px; /*para ajustar el margen para el título del video*/
  margin-bottom: 10px; /*Así hay un poquito de separación desde el ítem anterior*/
}

.título-video {
  text-align: center;
  font: darkblue;
  font-size: 14px;
  margin: 15px 0 5px 0; /*15 arriba, 5 abajo, 0 el resto*/
}

.caption-video {
  text-align: center;
  font: darkblue;
  font-size: 14px;
  margin: 5px 0 5px 0; /*5 arriba, 5 abajo, 0 el resto*/
}

.botón-ver-playlist,
.botón-all-playlists {
  /*botoncito para visitar la/s playlist/s*/
  display: block;
  width: 100%; /*la forma de contener el tamaño del botón s/ el contenido*/
  max-width: 180px; /*para limitar el ancho posible*/
  font-size: 14px; /*achica un poco el botón*/
  font-weight: bold; 
  padding: 5px 10px; /*ancho y alto más chicos*/
  margin-top: 0;
  margin-left: auto; /*centrado horizontal*/
  margin-right: auto; /*centrado horizontal*/
  text-align: center; /*centrado dentro del botón*/
  background-color: rgb(240, 240, 201);
  color: orangered;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.botón-ver-playlist:hover,
.botón-all-playlists:hover {
  background-color: brown;
  color: yellow;
}

/*Responsivos con pantalla rotada también*/
/*PC ESCRITORIO*/
@media screen and (min-width: 769px) {
  .video-contenedor {
    width: calc(50% - 20px);
  }
}

/*MOBILE*/
@media screen and (max-width: 480px) {
  .video-contenedor {
    width: calc(100% - 20px);
  }
  .video-responsive-hijo-1,
  .video-responsive-hijo-2,
  .video-responsive-hijo-3,
  .video-responsive-hijo-4 {
    padding-bottom: 75%; /*para ajuste el aspecto al tamaño del celular*/
  }
}

/*TABLET*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .video-contenedor {
    width: calc(50%- 20px);
  }
}
/*Nota: el 09.11.23 aprendí sobre MOBILE FIRST (golden rule developer). 
Los parámetros arriba descriptos son anteriores y funcionales a este TP.*/


/*--Fuentes consultadas:
    -Materiales de referencia y videos YT, CAC Comisión #23526
    -https://developer.mozilla.org/en-US/docs/Web/CSS/content; 
    -https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_video3; 
    -https://developers.google.com/youtube/documentation 
      Versión actual: 12.12.23*/
