body {
  color: darkblue;
  padding: 20px; /*padding para el body*/
}

h2 {
  font-size: 25px;
  padding-top: 20px; /*separación desde tope hasta h2*/
}

.section {
  text-align: center;
  margin: 10px 0; /*Antes: auto; 30px; 20px 0; / 10px acerca más las secciones*/
}

.section-name {
  margin: 10px 10px 30px 30px; /*el primer 30px separa más el 1er título del nav*/
  color: darkblue; 
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*quiero evitar el scroll down en PC*/
  margin-top: 20px; 
}

.image {
  width: calc(33.333% - 20px);
  height: 140px; /*altura definida para los png*/
  margin: 10px;
  text-align: center;
  background-color: transparent; 
  padding: 10px; /*el padding dentro del contenedor / border-radius: p/ borde redondeado, 3px;*/
  font-size: 14px; /*reduce el tamaño*/
}

.image img {
  /*para que sea responsive*/
  max-width: 100%; /*seis imágenes en skills.html*/
  max-height: 100%; /*Así no exceden tamaño del container --> Antes: height: auto;*/
}

.image-caption {
  color: orangered; 
  font-size: 14px;
}

/*New 04.11.23: responsive design*/
/*PC ESCRITORIO*/
@media (min-width: 1200px) {
  .image {
    width: calc(25% - 20px);
  }
}

/*CELULAR*/
@media (max-width: 767px) {
  .image {
    width: calc(50% - 20px);
  }
}

/*TABLET*/
@media (max-width: 1199px) and (min-width: 768px) {
  .image {
    width: calc(33.333%- 20px);
  }
}

/*Nota: el 09.11.23 aprendí sobre MOBILE FIRST (golden rule developer). 
Los parámetros arriba descriptos son anteriores y funcionales a este TP.
Versión actual: 12.12.23*/

